<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HillRobinsonTech.Properties.Settings.florent_hillrobinsontech_localConnectionString" connectionString="Data Source=&quot;10.19.107.154, 1433&quot;;Initial Catalog=florent_hillrobinsontech_local;Persist Security Info=True;User ID=sa;Password=Mranderson1!" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.5.2.0" newVersion="5.5.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
